/* Import Outfit font-family from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Define css variables */
:root {
	--dark-color: #1f314f;
	--medium-color: #68778d;
	--light-color: #d5e1ef;

	--bold-fontweight: 900;
	--medium-fontweight: 500;
	--light-fontwight: 300;

	--large-spacing: 40px;
	--medium-spacing: 24px;
	--small-spacing: 16px;
}

/* Remove margin, padding and setting box sizing */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Outfit;
}

/* Vertically and horizontally center qr-container */
body {
	/* Set the height to 100vh(full browser height) so that it has room to vertically align */
	min-height: 100vh;

    /* Vertically and horizontally center qr-container */
	display: flex;
	justify-content: center;
	align-items: center;

    /* Set body background color */
    background-color: var(--light-color);
}

.qr-container {
	/* Setting the width of the container */
	width: 320px;

    /* Set qr-container background color */
    background-color: white;
}

/* Setting the image width, so that it takes 100% of its parents(qr-container) width */
img {
	width: 100%;
}
