/* Define css variables */
:root {
	--dark-color: #1f314f;
	--medium-color: #68778d;
	--light-color: #d5e1ef;

	--bold-fontweight: 900;
	--medium-fontweight: 500;
	--light-fontwight: 300;

	--large-spacing: 40px;
	--medium-spacing: 24px;
	--small-spacing: 16px;
}

/* Remove margin, padding and setting box sizing */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
